.movie__actors {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  padding: 0;
  margin: 16px 0;
  list-style: none;
}

.movie__actor {
  text-align: center;
  width: 100px;
}

.movie__actor-photo {
  width: 80px;
  height: 80px;
  margin: 0 auto 8px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ddd;
}

.movie__actor-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie__actor a {
  text-decoration: none;
  color: crimson;
  font-weight: bold;
  font-size: 14px;
}

.movie__actor a:hover {
  color: #f90;
}

.movie__director{
  display: flex;
  text-align: left;
  flex-direction: column; 
  align-items: left;
  margin: 16px 0;
}

.movie__director-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px; 
}

.movie__director-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie__director a,
.movie__distributor a {
    text-decoration: none;
    color: crimson;
    font-weight: bold;
    font-size: 14px;
    text-align: left; 
}

.movie__director a:hover,
.movie__distributor a:hover {
    color: #f90;
}

.movie__actor a.disabled {
    text-decoration: none;
    color: #999; 
    font-weight: normal;
    font-size: 14px;
    cursor: default;
  }
  
.movie__actor a.disabled:hover {
    color: #999; 
}

.movie__distributors {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  padding: 0;
  margin: 16px 0;
  list-style: none;
}

.movie__distributor {
  text-align: center;
  width: 100px; 
}

.movie__distributor-photo {
  width: 80px;
  height: 80px;
  margin: 0 auto 8px; 
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ddd; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.movie__distributor-photo img {
  width: auto; 
  height: 100%; 
  object-fit: contain; 
}
